<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
autoReload="true"
internalLogLevel="Trace"
internalLogFile="C:\Users\HP\Documents\EmployeeRegister\LogHistory\Logs\InternalLogs\Internal_Log.txt">
	<!--<targets>
		<target name="logfile" xsi:type="File"
		fileName="C:\Users\HP\Documents\EmployeeRegister\LogHistory\Logs\${shortdate}_logfile.txt"
		layout="${longdate} ${level:uppercase=true} ${message}"/>
	</targets>
	<rules>
		<logger name="*" minlevel="Debug" writeTo="logfile" />
	</rules>-->
	<targets>
		<target name="logfile" xsi:type="File"
		fileName="C:\Users\HP\Documents\EmployeeRegister\LogHistory\Logs\${shortdate}_logfile.txt"
		layout="${longdate} ${level:uppercase=true} ${message}"/>
		
		 <!-- database target -->
   <target xsi:type="Database"
            name="database"
            connectionStringName="SqlConnection"
            commandText="INSERT INTO [dbo].[LogEntries] ([CallSite], [Date], [Exception], [Level], [Logger], [MachineName], [Message], [StackTrace], [Thread], [Username]) VALUES (@CallSite, @Date, @Exception, @Level, @Logger, @MachineName, @Message, @StackTrace, @Thread, @Username);">
      <parameter name="@CallSite" layout="${callsite:filename=true}" />
      <parameter name="@Date" layout="${longdate}" />
      <parameter name="@Exception" layout="${exception}" />
      <parameter name="@Level" layout="${level}" />
      <parameter name="@Logger" layout="${logger}" />
      <parameter name="@MachineName" layout="${machinename}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@StackTrace" layout="${stacktrace}" />
      <parameter name="@Thread" layout="${threadid}" />
      <parameter name="@Username" layout="${windows-identity:domain=true}" />
    </target>
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="logfile" />
		<!-- database logger -->
		<logger name="*" minlevel="Error,Fatal,Warn" writeTo="database" />
		<!--<logger name="*" minlevel="Info" writeTo="database" />-->
		
	</rules>



</nlog>



